.cotizar{
    &__step{
        padding-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        .mat-form-field{
        }
        &__button{
            justify-self: center;
        }
    }
    &__stepTable{
        margin-top: 30px;
        display: grid;
       
        &__total{
            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(179, 202, 216, 0.56);
            border-radius: 5px;
            text-align: center;
            height: 80px;
            margin-top:30px ;
            margin-bottom: 30px;
            padding-top: 33px;
        }

    }
    &__stepTable{

        &__button{
            padding-top: 10px;
            margin: 0 auto;
            margin-bottom: 60px;
        }
    }
} 


@media (min-width: 1152px) {
    .cotizar{
        &__step{
            grid-template-columns: repeat(2, 1fr);
            max-width: 600px;
            margin: 0 auto;
            grid-template-rows: repeat(5, 80px);
            align-self: center;
            
            &__button{
                grid-column: 1/3;
                margin-top: 60px;
            }
        }
        &__stepTable{
            display: grid;
            margin: 0 auto;
            max-width: 600px;
            margin-top: 60px;
            width: 100%;
        }
    }
}