<section class="consulta">
    <div class="consulta__step"  *ngIf="show == 1">
        <div class="consulta__step__card" *ngFor="let item of items" (click)="choose(item)">
            <img class="consulta__step__card__image" [src]="item.image">
            <h5 class="consulta__step__card__title">{{item.title}}</h5>
        </div>
    </div>
    <div class="consulta__stepSpecialty" *ngIf="show == 2">
        <img [src]="especialidad.image" class="consulta__stepSpecialty__specialtyImage">
        <div class="consulta__stepSpecialty__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium nec massa vitae tincidunt. In id erat lectus. Vivamus ornare a ante eu sagittis. Integer lectus neque, elementum in porta non, blandit ut nulla. Nulla facilisi. Phasellus ullamcorper risus vel elementum dapibus. Vestibulum et lorem vitae augue imperdiet luctus. Praesent eleifend ac est sed sollicitudin.</p>
        </div>
        <button mat-raised-button color="primary" (click)="next()" class="consulta__stepSpecialty__button">Continuar</button>
        <button mat-raised-button class="consulta__stepSpecialty__button" color="accent" (click)="prev()">Atras</button>
    </div>
    <div class="consulta__stepDate" *ngIf="show == 3">
        <mat-form-field>
            <mat-label>Fecha selecionada</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="day">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="next()" class="consulta__stepSpecialty__button">Continuar</button>
        <button mat-raised-button color="accent" (click)="prev()" class="consulta__stepSpecialty__button">Atras</button>
    </div>
    <div class="consulta__stepDate" *ngIf="show == 4">
        <ul class="consulta__stepDate__list">
            <li 
                class="consulta__stepDate__list__item" 
                *ngFor="let hour of hours;index as i;" 
                [ngClass]="{'consulta__stepDate__list__item--active': hourSelect === i}"
                (click)="choseHour(i, hour)">
                {{hour.start}} - {{hour.end}}
            </li>
        </ul>
        <button mat-raised-button color="primary" (click)="next()" class="consulta__stepDate__button">Continuar</button>
        <button mat-raised-button color="accent" (click)="prev()" class="consulta__stepDate__button">Atras</button>
    </div>
    <div class="consulta__stepSummary" *ngIf="show == 5">
        <div class="consulta__stepSummary__content">
            <mat-form-field>
                <mat-label>Fecha selecionada</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="day" disabled>
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon></mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Hora</mat-label>
                <input matInput placeholder="hour" [(ngModel)]="hour" disabled>
            </mat-form-field>
        </div>
        <button mat-raised-button class="consulta__stepSummary__button" color="primary" (click)="next()">Confirmar cita</button>
        <button mat-raised-button class="consulta__stepSummary__button" color="accent" (click)="prev()">Atras</button>
    </div>

    <div class="consulta__stepFinis" *ngIf="show == 6">
        <img class="consulta__stepFinis__image" src="../../../assets/images/like.png">
        <a mat-raised-button class="consulta__stepFinis__button" color="primary" routerLink="/" style="padding-top: 10px;">Finalizar</a>
    </div>

</section>
