<div class="content">
    <a class="content__option" routerLink="citaFecha">
        <img class="content__option__image" src="../../../assets/images/appointment.png">
        <h5 class="content__option__title">Agendar citas</h5>
    </a>

    <a class="content__option" routerLink="consultas">
        <img class="content__option__image" src="../../../assets/images/stethoscope.png">
        <h5 class="content__option__title">Consulta de especialistas</h5>
    </a>

    <a class="content__option" routerLink="cotizar">
        <img class="content__option__image" src="../../../assets/images/patient.png">
        <h5 class="content__option__title">Cotizar servicios de cirugía</h5>
    </a>

    <a class="content__option" routerLink="medico">
        <img class="content__option__image" src="../../../assets/images/doctor.png">
        <h5 class="content__option__title">Solicitud de médico en casa</h5>
    </a>

</div>